[data-md-color-primary="custom"] {
  --md-primary-fg-color: #EDEDEE;
  --md-primary-bg-color: #111827;
}

[data-md-color-scheme="default"] {
  --md-default-fg-color: hsla(0, 0%, 8%, 0.95);
  --md-default-fg-color--light: hsla(0, 0%, 8%, 0.78);
  --md-default-fg-color--lighter: hsla(0, 0%, 8%, 0.58);
  --md-typeset-a-color: #111827;
}

[data-md-color-primary="custom"] .md-search__form {
  background-color: rgba(17, 24, 39, 0.14);
}

[data-md-color-primary="custom"] .md-search__form:hover,
[data-md-color-primary="custom"] .md-search__form:focus-within {
  background-color: rgba(17, 24, 39, 0.24);
}

[data-md-color-primary="custom"] .md-search__input::placeholder {
  color: #111827
}

/* Make links visually prominent across the site. */
a,
a:visited {
  color: #0B57D0;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #084298;
}

[data-md-color-scheme="slate"] a,
[data-md-color-scheme="slate"] a:visited {
  color: #8AB4F8;
}

[data-md-color-scheme="slate"] a:hover,
[data-md-color-scheme="slate"] a:focus {
  color: #AECBFA;
}
